{{#if displayForm}}
  {{component componentName title=title model=modelCopy addFileForUpload=(action "addFileForUpload")}}
  <div class="row">
    {{#if isEditing}}
      <div class="col flex-center">
        <button {{action "cancel"}} class="action-button">Cancel</button>
      </div>
      <div class="col flex-center">
        <button {{action "save" model}} class="{{modelName}}-background primary-light-color action-button">Save</button>
      </div>
    {{/if}}
    {{#if isNew}}
      <div class="width-100 center-text">
        <button {{action "create"}} class="action-button primary-light-color {{modelName}}-background">Create {{formattedModelName}}</button>
      </div>
    {{/if}}
  </div>
{{else}}
  <div class="item-detail">
    {{yield}}

    {{#if session.isAuthenticated}}
      <br>

      <div class="row">
        <div class="col flex-center">
          <button {{action "edit"}} class="{{modelName}}-background primary-light-color action-button">Edit</button>
        </div>
        <div class="col flex-center">
          <button {{action "toggleConfirmation"}} class="primary-light-color negative-background action-button">Delete</button>

          {{#if showConfirmation}}
            <ModalDialog @onClose={{action "toggleConfirmation"}} @targetAttachment="center" @translucentOverlay=true @containerClass="delete-overlay-container" @overlayClass="delete-overlay">
              <div class="row">
                <p class="overlay-title">Are you sure?</p>
              </div>
              <div class="row button-row">
                <button {{action "toggleConfirmation"}} class="action-button">Cancel</button>
                <button {{action "delete" model}} class="primary-light-color action-button negative-background">I'm sure</button>
              </div>
            </ModalDialog>
          {{/if}}
        </div>
      </div>
    {{/if}}
  </div>
{{/if}}
