<div style={{position}} draggable={{session.isAuthenticated}} ondragstart={{action 'saveInitialLocation'}} ondragend={{action 'locationDropped'}} class="map-item">
  <LinkTo @route="place" @model={{place}}>
    <ion-icon name="home"></ion-icon>
  </LinkTo>
  <EmberTooltip @tooltipClass="map-item-tooltip" @text={{place.name}} />
</div>
