<div class="full tab no-padding">
  <LinkTo @route="{{modelName}}s" @current-when="{{modelName}} {{modelName}}s {{modelName}}-create">
    <div class="full flex-center flex-column">
      <ion-icon name={{icon}}></ion-icon>
      <span>{{formattedModelName}}</span>
    </div>
  </LinkTo>
</div>
