<form class="item-form">
  <h1 class="create-title npc-color"> {{title}} </h1>
  <div class="form-group">
    <div class="form-input-label">Name</div>
    {{input type="text" class="item-input" placeholder="Name" value=npc.name}}
  </div>
  <div class="form-group">
    <div class="form-input-label">Visibility</div>
    <ToggleButton @value={{npc.visible}} />
  </div>
  <div class="form-group">
    <div class="form-input-label">Appearance</div>
    {{input type="text" class="item-input" placeholder="Appearance" value=npc.appearance}}
  </div>
  <div class="form-group">
    <div class="form-input-label">Info</div>
    {{textarea class="item-input" placeholder="Info" value=npc.info}}
  </div>
  <div class="form-group">
    <div class="form-input-label">Aliases</div>
    {{textarea class="item-input" placeholder="Aliases separated by newlines" value=npc.aliases}}
  </div>
</form>
