<form class="item-form">
  <h1 class="create-title song-color"> {{title}} </h1>
  <div class="form-group">
    <div class="form-input-label">Name</div>
    {{input type="text" class="item-input" placeholder="Name" value=song.name}}
  </div>
  <div class="form-group">
    <div class="form-input-label">Artist</div>
    {{input type="text" class="item-input" placeholder="Artist" value=song.artist}}
  </div>
  <div class="form-group">
    <div class="form-input-label">Visibility</div>
    <ToggleButton @value={{song.visible}} />
  </div>
  <div class="form-group">
    <div class="form-input-label">Flavor</div>
    {{input type="text" class="item-input" placeholder="Flavor" value=song.flavor}}
  </div>
  <div class="form-group">
    <div class="form-input-label">Loop</div>
    <ToggleButton @value={{song.loop}} @positiveText="Loop" @negativeText="Don't Loop" />
  </div>
  <div class="form-group">
    <div class="form-input-label">Sound File</div>
    <FileUpload @name="sound_file" @for="sound_file" @accept="audio/*" @onfileadd={{action "addFileForUpload"}} as |queue|>
      <a class="upload-button">
        {{#if queue.files.length}}
          {{queue.files.0.name}}
        {{else}}
          {{soundFileName}}
        {{/if}}
      </a>
    </FileUpload>
  </div>
</form>
