<div id="map-wrapper" class="map-wrapper">
  <div class="full">
    <img alt="World Map" class="world-map" src="/assets/world_map.jpg">
    {{#each places as |place|}}
      {{#if (and (not-eq place.x null) (not-eq place.y null))}}
        <MapItem @place={{place}} @itemClick={{action "mapItemClick"}} />
      {{/if}}
    {{/each}}


  {{!-- Menu used for editing / deleting existing map items --}}
  {{!-- Positioning is easier when we leave it inside the full class. --}}
  <MapItemMenu @deleteMapItem={{action "deleteMapItem"}} @x={{menuX}} @y={{menuY}} @visible={{itemMenuVisible}} @place={{clickedPlace}} />


  </div>
</div>


{{!-- Menu used for adding new places to the map --}}
<MapMenu @addMapItem={{action "addMapItem"}} @places={{placesToAdd}} @x={{menuX}} @y={{menuY}} @visible={{menuVisible}} />
