<div class="container">

  <div class="row height-100">

    <div class="col-1 sidebar-nav no-padding">
      <ul>
        <li>
          {{#link-to "npcs" class="nav-item"}}<ion-icon name="contact"></ion-icon> <span>Npcs</span>{{/link-to}}
        </li>
      </ul>
    </div>

    <div class="col-2 sidebar-detail no-padding">

    </div>

    <div class="col-9 no-padding main-content">
      {{outlet}}
    </div>

  </div>

  <div class="floating-login">
    {{#if session.isAuthenticated}}
      <button class="btn btn-primary" {{action "invalidateSession"}} role="button">Logout</button>
    {{else}}
      <form {{action "authenticate" on="submit"}}>
        {{input id="username" placeholder="Username" class="form-control" value=username}}
        {{input id="password" placeholder="Password" class="form-control" type="password" value=password}}
        <button type="submit" class="btn btn-primary">Login</button>
        {{#if errorMessage}}
          <p>{{errorMessage}}</p>
        {{/if}}
      </form>
    {{/if}}
  </div>

</div>
