<div class="container">

  <div class="row nav nav-primary">
    <div class="col-2 col-sm-1 no-padding">
      <LinkTo @route="npcs" @current-when="npc npcs npc-create">
        <div class="full flex-center flex-column">
          <ion-icon name="contact"></ion-icon>
          <span>NPCs</span>
        </div>
      </LinkTo>
    </div>
    <div class="col-2 col-sm-1 no-padding">
      <LinkTo @route="songs" @current-when="song songs song-create">
        <div class="full flex-center flex-column">
          <ion-icon name="musical-note"></ion-icon>
          <span>Songs</span>
        </div>
      </LinkTo>
    </div>
    <div class="col-2 col-sm-1 no-padding">
      <LinkTo @route="places" @current-when="place places place-create">
        <div class="full flex-center flex-column">
          <ion-icon name="pin"></ion-icon>
          <span>Places</span>
        </div>
      </LinkTo>
    </div>
    <div class="col-2 col-sm-1 no-padding">
      <LinkTo @route="login">
        <div class="full flex-center flex-column">
          <ion-icon name="key"></ion-icon>
          <span>Login</span>
        </div>
      </LinkTo>
    </div>
  </div>

  <div class="row nav-pad"></div>
  <div class="row">
    {{#if displayMenu}}
      <div class="nav-sidebar">
        {{#if (and session.isAuthenticated api_data.activeModel)}}
          <div class="row nav-sidebar-wrapper">
            <LinkTo @route="{{api_data.activeModel}}-create" class="nav-sidebar-link no-padding">
              <div class="full flex-center nav-sidebar-item">
                <ion-icon name="add"></ion-icon>
                <span>Create</span>
              </div>
            </LinkTo>
          </div>
        {{/if}}
        {{#each menu as |item|}}
          {{#unless item.isNew}}
            <div class="row nav-sidebar-wrapper">
              <LinkTo @route={{api_data.activeModel}} @model={{item.id}} class="nav-sidebar-link no-padding">
                <div class="full flex-center nav-sidebar-item">
                  <span>{{item.name}}</span>
                </div>
              </LinkTo>
            </div>
          {{/unless}}
        {{/each}}
      </div>
      <div class="col-pad"></div>
    {{/if}}
    <div class="col main-content flex-center">
      {{outlet}}
    </div>
  </div>

</div>
