<ItemDetail @modelName="beast" @componentName="beast-form" @route="beasts" @model={{model}}>
  <div class="row">
    <div class="item-title beast-color">
      {{model.name}}
    </div>
  </div>

  {{#if model.image_file}}
    <div class="row">
      <ExpandableImage @alt="{{model.name}} Image" @src="{{model.image_file}}" />
    </div>
  {{/if}}

  <br>

  <div class="row">
    <div class="item-label">Appearance</div>
    <div class="item-description">
      {{model.appearance}}
    </div>
  </div>

  <br>

  <div class="row">
    <div class="item-label">Lore</div>
    <div class="item-lore">
      <HotLink @text={{model.info}} />
    </div>
  </div>
</ItemDetail>
