<form {{action "authenticate" on="submit"}}>
  <label for="username">Username</label>
  {{input id="username" placeholder="Username" value=username}}
  <label for="password">Password</label>
  {{input id="password" placeholder="Password" type="password" value=password}}
  <button type="submit">Login</button>
  {{#if errorMessage}}
    <p>{{errorMessage}}</p>
  {{/if}}
</form>
{{outlet}}
