<div class="login">
  {{#if session.isAuthenticated}}
    <button class="btn btn-primary login-button" {{action "invalidateSession"}} role="button">Logout</button>
  {{else}}
    <form {{action "authenticate" on="submit"}}>
      {{input id="username" placeholder="Username" class="form-control login-input" value=username}}
      {{input id="password" placeholder="Password" class="form-control login-input" type="password" value=password}}
      <button type="submit" class="btn btn-primary login-button">Login</button>
      {{#if errorMessage}}
        <p>{{errorMessage}}</p>
      {{/if}}
    </form>
  {{/if}}
</div>
