<div class="full">
  <h1 class="create-title npc-color"> Create New NPC </h1>
  <NpcForm @npc={{npc}} @name={{name}} @description={{description}} @info={{info}} />
  <div class="width-100 center-text">
    <button {{action "create"}} class="action-button primary-color npc-background">Create NPC</button>
  </div>
</div>
