<ItemDetail @modelName="place" @componentName="place-form" @route="places" @model={{model}}>
  <div class="row title-row">
    <div class="item-title place-color">
      {{model.name}}
    </div>

    {{#if (and (not-eq model.x null) (not-eq model.y null))}}
      <div class="map-link">
        <LinkTo @route="world" @query={{hash x=model.x y=model.y}}>
          <ion-icon name="locate"></ion-icon>
        </LinkTo>
      </div>
    {{/if}}
  </div>

  {{#if model.image_file}}
    <div class="row">
      <ExpandableImage @alt="{{model.name}} Image" @src={{model.image_file}} />
    </div>
  {{/if}}

  <br>

  <div class="row">
    <div class="item-label">Description</div>
    <div class="item-description">
      {{model.description}}
    </div>
  </div>

  <br>

  <div class="row">
    <div class="item-label">Lore</div>
    <div class="item-lore">
      <HotLink @text={{model.info}} />
    </div>
  </div>

  <br>

  <div class="row">
    <div class="item-label">Points of Interest</div>
  </div>

  {{#each model.points_of_interest as |poi|}}
    <div class="row">
      <div class="poi-title primary-light-color">{{poi.name}}</div>
      <div class="poi-info">
        <HotLink @text={{poi.info}} />
      </div>
    </div><br>
  {{/each}}

</ItemDetail>
