<ItemDetail @modelName="place" @componentName="place-form" @route="places" @model={{model}}>
  <div class="row">
    <div class="item-title place-color">
      {{model.name}}

      <ion-icon class="place-color" name="locate"></ion-icon>

    </div>

  </div>

  <div class="row">
  </div>

  {{#if model.image_file}}
    <div class="row">
      <ExpandableImage @alt="{{model.name}} Image" @src={{model.image_file}} />
    </div>
  {{/if}}

  <br>

  <div class="row">
    <div class="item-label">Description</div>
    <div class="item-description">
      {{model.description}}
    </div>
  </div>

  <br>

  <div class="row">
    <div class="item-label">Lore</div>
    <div class="item-lore">
      <HotLink @text={{model.info}} />
    </div>
  </div>

  <br>

  <div class="row">
    <div class="item-label">Points of Interest</div>
  </div>

  {{#each model.points_of_interest as |poi|}}
    <div class="row">
      <div class="poi-title primary-light-color">{{poi.name}}</div>
      <div class="poi-info">
        <HotLink @text={{poi.info}} />
      </div>
    </div><br>
  {{/each}}

</ItemDetail>
